<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header class="site-header">
    <!-- NAV BAR -->
    <nav id="navigation" class="navbar navbar-expand-md navbar-dark sticky-top">
      <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand irish-grover-regular mr-4" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- LEFT SIDE NAV -->
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="index.html">Home</a>
            <a class="nav-item nav-link" href="services.html">Services</a>
            <a class="nav-item nav-link" href="consultancy.html">Consultancy</a>
            <a class="nav-item nav-link" href="Development.html">Development</a>
            <a class="nav-item nav-link" href="about.html">About</a>
          </div>
          <!-- RIGHT SIDE NAV -->
          <div class="navbar-nav">
            <button>
                <a href="contact">Contact</a>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- FOOTER -->
  <div class="container" id="footer-container">
    <footer class="py-3 mx-auto" id="footer-container-secondary">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <!-- SITE LINKS -->
          <p class="footer-link-heading">Site Links:</p>
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'website-home' %}"
                class="nav-link-footer p-0 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="{% url 'website-about' %}"
                class="nav-link-footer p-0 text-body-secondary">About</a></li>
            <li class="nav-item"><a href="{% url 'website-blog' %}"
                class="nav-link-footer p-0 text-body-secondary">Blog</a></li>
            <li class="nav-item"><a href="#" class="nav-link-footer p-0 text-body-secondary">Contact</a></li>
          </ul>
        </div>

        <!-- SOCIAL MEDIA LINKS -->
        <div class="col-md-3 offset-md-3 mb-3">
          <ul class="list-unstyled d-flex mx-2" id="social-icons">
            <li class="m-3">
              <a href="https://facebook.com/" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fa-brands fa-facebook"></i></a></li>
            <li class="m-3">
              <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                <i class="fa-brands fa-x-twitter"></i></a></li>
            <li class="m-3">
              <a href="https://instagram.com/" target="_blank"
                aria-label="Visit our Instagram page (opens in a new tab)">
                <i class="fa-brands fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- COPYRIGHT -->
      <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top"
        id="footer-container-last">
        <p>&copy; 2026 FreedGen, All rights reserved.</p>
      </div>

    </footer>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!-- FONT AWESOME SCRIPT -->
  <script src="https://kit.fontawesome.com/f514539dfd.js" crossorigin="anonymous">
  </script>
  <!-- STATIC JS -->
  {% block scripts %}{% endblock scripts %}
</body>
</html>